*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f7f7f7;  
}


img{
    width: 100%;
}
/* <!-- Menu --> */

/* ------------- MENU TOP ------------- */


.menuTop{
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
    padding-bottom: 1em;
}

.menuTop a{
    text-decoration: none;
    color: #000;
}

.menu{
    font-size: small;
}

.menu a{
    color: rgb(0, 0, 0);
    margin-left: 0.4em;
    margin-right: 0.4em;
    font-size: 105%;
}

.menu a:hover{
    text-decoration: none !important;
    color: black;
}

.menu img:hover{
    transform: scale(1.1);
}

#logo img{
    width: 95%;
}

.menuTopRight a:hover{
    font-weight: bold;
}
@media only screen and (max-width: 991px) {
    .menuTop {
      display: none;
    }
    
  }


/*------------- Menu Bottom -------------*/
.menuTop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
 }
 
 .menu2 {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 1;
    
 }
.navbar{
    /* position: fixed; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
}

.topnav div{
    display: flex;
    justify-content: center;
}

.icones{
    display: flex;
    justify-content: space-around;
    margin-right: 12em;
}

.icones i{
    font-size: 1.5em;
}

.menuTopRight{
    display: flex;
    justify-content: space-around;
    margin-left: 5em;
}

.menuTopRight a{
    font-size: 12px;
}

.fa-square-twitter {
    color: rgb(29 161 242);
}

.fa-instagram {
    background: linear-gradient(to bottom, #405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, 
    #FCAF45, #FFDC80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-youtube-play {
    color: red;
}

.fa-meetup {
    color: orange;
}

.fa-circle-info {
    color: rgb(189, 37, 37);
}

.fa-4,
.fa-0 {
    color: rgb(223, 52, 52);
}

.dropdown-menu{
    font-size: small;
    border-radius: 0%;
}

.dropdown-menu a:hover {
    color: rgb(212, 46, 18);
    background-color: transparent;
}

@media screen and (max-width: 767px) {
    .menu2{
        top: 0px;
    }
  }


/* <!-- /Menu --> */

/* <!-- Banner --> */
#carouselExampleFade{
    position:absolute;
    width: 100%;
    z-index: 1;
}
.banner-divs{
    z-index: 99;
}
#contenedor-divs{
    height: 70vh;
}
.single-cat{
    padding: 6%;
    background-color: #FFFFFFcc;
    height: 200px;
    text-align: center;
    overflow:scroll;
    overflow-x: hidden;
    scrollbar-color: #d42e12 #fff;}
.single-cat p{
    text-align:justify;
}

.single-cat::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

.single-cat::-webkit-scrollbar-thumb {
  background-color: #d42e12;
}
.single-cat h3 a{
    text-decoration: none;
}
.single-cat a{
    color: #d42e12;
}
.banner-end-position{
    height: 80vh;
}
.banner-img{
    object-fit:cover;
    height: 80vh;
}
@media (max-width: 767px) {
    #contenedor-divs{
        margin-top: 3em;
        height: 90vh;
    }

    .banner-end-position{
        height: 100vh;
    }
    .banner-img{
        object-fit:cover;
        height: 100vh;
    }
  }




/* <!-- /Banner --> */

/* <!-- News --> */

.news{
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.news a{
    text-decoration: none;
    color: #000;
}

.card{
    margin-top: 2em;
    border: 0px ;
    background-color: #f7f7f7;  
}
.card h5{
    font-weight: bold;
}
.news h1{
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.cards img{
    object-fit: contain;
    height: 8em;
}

.cards:hover img{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}


/* <!-- /News --> */

/* <!-- Formative offer --> */
.formative_offer{
    margin-top: 2em;
}
.formative_offer h1{
    display: flex;
    justify-content: center;
    font-weight: bolder;
}
.formative_offer_type{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.formative_offer_type div{
    width: 9em;
    height: 9em;
    border-radius: 100%;
    background-color: #d42e12;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formative_offer_type div:hover{
    background-color: #000;
    
}
.formative_offer_type a{
    color: #F5F5F5;
    text-decoration: none;
}
.formative_offer_type a:hover{
    color: #d42e12;
    scale: 2;
}
.dual_image{
    width: 9em;
    height: 9em;
}

/* <!-- /Formative offer --> */

/* <!-- Secretary --> */

.secretary{
    margin-top: 2em;
    display: flex;
    justify-content: center;
}
.secretary h1{
    display: flex;
    justify-content: center;
    font-weight: bolder;
}
.secretaryTop{
    margin-top: 2em;
}
.secretarySections h5{
    font-weight: bold;
}

.secretarySections p{
    margin-top: -1em;
}

.secretarySections a{
    text-decoration: none;
    color: rgb(212, 46, 18);
}

.secretarySections a:hover{
    font-weight: bold
}

.secretaryIcons{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(212, 46, 18);
    padding: 0.5em;
    border-radius: 100%;
    transform: scale(0.8);
    width: 1.5em;
    height: 1.5em;
}


/* <!-- Secretary --> */

/* <!-- Final --> */
.final{
    background-image: url("img-Arnau/fons-dividit.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    display: flex;
}
.divicio{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.linia-final{
    display: flex;
    justify-content: center;
}
.position-squere{
    width: 40%;
    padding: 5%;
    display: flex;
}
.position-squere:hover{
    scale: 1.1;
    color: #d42e12;
}

/* <!-- /Final --> */